In [79]:
import pandas as pd 

df = pd.read_csv('/Users/parth/coding/python/sportly/stats/tennis_atp/singles/atp_matches_net.csv')
df

,Unnamed: 0.1,Unnamed: 0,tourney_name,surface,draw_size,tourney_level,winner_seed,winner_entry,winner_name,winner_hand,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,0,Dublin,Grass,32.0,A,NaN,NaN,Doug Smith,U,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,Dublin,Grass,32.0,A,NaN,NaN,Louis Pretorius,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,Dublin,Grass,32.0,A,NaN,NaN,Cecil Pedlow,U,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,Dublin,Grass,32.0,A,NaN,NaN,Tom Okker,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,Dublin,Grass,32.0,A,NaN,NaN,Armistead Neely,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194991,194991,194991,Davis Cup WG2 PO: URU vs MDA,Clay,4.0,D,NaN,NaN,Joaquin Aguilar Cardozo,U,...,30.0,17.0,7.0,6.0,8.0,14.0,1109.0,8.0,740.0,34.0
194992,194992,194992,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,NaN,NaN,Nam Hoang Ly,R,...,41.0,25.0,6.0,9.0,1.0,4.0,554.0,67.0,748.0,32.0
194993,194993,194993,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,NaN,NaN,Kris Van Wyk,R,...,51.0,25.0,7.0,11.0,5.0,12.0,416.0,109.0,NaN,NaN
194994,194994,194994,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,NaN,NaN,Nam Hoang Ly,R,...,51.0,32.0,17.0,14.0,5.0,9.0,554.0,67.0,416.0,109.0
194995,194995,194995,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,NaN,NaN,Philip Henning,R,...,53.0,25.0,8.0,8.0,9.0,14.0,748.0,32.0,NaN,NaN

In [80]:
df.head()

,Unnamed: 0.1,Unnamed: 0,tourney_name,surface,draw_size,tourney_level,winner_seed,winner_entry,winner_name,winner_hand,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,0,Dublin,Grass,32.0,A,NaN,NaN,Doug Smith,U,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,Dublin,Grass,32.0,A,NaN,NaN,Louis Pretorius,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,Dublin,Grass,32.0,A,NaN,NaN,Cecil Pedlow,U,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,Dublin,Grass,32.0,A,NaN,NaN,Tom Okker,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,Dublin,Grass,32.0,A,NaN,NaN,Armistead Neely,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
from sklearn.preprocessing import LabelEncoder

In [82]:
str_vals = ['tourney_name', 'surface','tourney_level','winner_hand','winner_ioc','loser_hand','loser_ioc','round','winner_name','loser_name']
label_encoder_variables = []
winner_name_map = {}
for variable_name in str_vals:
    var_name = "nlabel_" + variable_name
    globals()[var_name] = LabelEncoder()
    label_encoder_variables.append(globals()[var_name])

In [83]:
for i in range(len(str_vals)):
    encoded_number = label_encoder_variables[i].fit_transform(df[str_vals[i]])
    df[str_vals[i] + "_n"] = encoded_number
    if str_vals[i] == 'winner_name':
        winner_name_map = dict(zip(encoded_number, df[str_vals[i]])) # pair encoder + winner_player_name

In [84]:
for val in str_vals:
    df = df.drop([val],axis='columns')
df.head()

,Unnamed: 0.1,Unnamed: 0,draw_size,winner_seed,winner_entry,winner_ht,winner_age,loser_seed,loser_entry,loser_ht,...,tourney_name_n,surface_n,tourney_level_n,winner_hand_n,winner_ioc_n,loser_hand_n,loser_ioc_n,round_n,winner_name_n,loser_name_n
0,0,0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3780,2,0,3,5,3,61,6,1034,5565
1,1,1,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3780,2,0,2,98,3,61,6,2520,4733
2,2,2,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3780,2,0,3,54,3,61,6,649,3587
3,3,3,32.0,NaN,NaN,178.0,24.3,NaN,NaN,NaN,...,3780,2,0,2,81,3,145,6,4090,7071
4,4,4,32.0,NaN,NaN,NaN,21.3,NaN,NaN,NaN,...,3780,2,0,2,124,3,61,6,335,2742

In [85]:
winner_name_map

{1034: 'Doug Smith',
 2520: 'Louis Pretorius',
 649: 'Cecil Pedlow',
 4090: 'Tom Okker',
 335: 'Armistead Neely',
 2094: 'John Mcgrath',
 495: 'Bob Howe',
 2486: 'Lew Hoad',
 1500: 'Graydon Garner',
 953: 'Des Foley',
 2341: 'Ken Fletcher',
 1649: 'Herb Fitzgibbon',
 4076: 'Tom Edlefsen',
 2689: 'Mark Cox',
 2052: 'John Bartlett',
 1599: 'Harry Barniville',
 3594: 'Rod Laver',
 4028: 'Thomaz Koch',
 3659: 'Roy Emerson',
 270: 'Andres Gimeno',
 2193: 'Jose Prats',
 3526: 'Ricky Morea',
 3109: 'Norberto Herrero',
 3485: 'Ricardo Aubone',
 3568: 'Roberto Aubone',
 1537: 'Guillermo Vilas',
 3212: 'Patricio Rodriguez Chi',
 1820: 'Jaime Pinto Bravo',
 2257: 'Julian Ganzabal',
 3211: 'Patricio Cornejo',
 2174: 'Jose Edison Mandarino',
 1852: 'Jan Kodes',
 1322: 'Fred Stolle',
 2397: 'Koji Watanabe',
 2160: 'Jorgen Ulrich',
 4129: 'Torben Ulrich',
 3615: 'Roger Taylor',
 942: 'Dennis Ralston',
 3089: 'Nikola Pilic',
 2100: 'John Newcombe',
 529: 'Boro Jovanovic',
 1758: 'Istvan Gulyas',
 757: 'Cliff Drysdale',
 3373: 'Pierre Darmon',
 3371: 'Pierre Barthes',
 2600: 'Mal Anderson',
 2051: 'John Barrett',
 3566: 'Robert Wilson',
 2121: 'John Ward',
 3504: 'Richard Gonzalez',
 896: 'David Lloyd',
 2333: 'Keith Wooldridge',
 2545: 'Luis Ayala',
 3170: 'Owen Davidson',
 2343: 'Ken Rosewall',
 760: 'Cliff Richey',
 345: 'Arthur Ashe',
 669: 'Charlie Pasarell',
 1857: 'Jan Leschly',
 2612: 'Manuel Santana',
 3332: 'Peter Szoke',
 228: 'Andras Szikszay',
 1915: 'Jean Loup Rouyer',
 1578: 'Hans Jurgen Pohmann',
 429: 'Bernard Montrenaud',
 1771: 'Ivan Molina',
 137: 'Alex Metreveli',
 3315: 'Peter Marmureanu',
 3775: 'Sergei Likhachev',
 4018: 'Thomas Lejus',
 2899: 'Michele Leclercq',
 3971: 'Teimuraz Kakulia',
 3243: 'Paul Hutchins',
 3216: 'Patrick Hombergen',
 2960: 'Milan Holecek',
 1417: 'Georges Goven',
 4271: 'Wieslaw Gasiorek',
 4195: 'Victor Egorov',
 1130: 'Eric Drossart',
 1922: 'Jean Pierre Courcol',
 829: 'Daniel Contet',
 489: 'Bob Carmichael',
 3205: 'Patrice Beust',
 1418: 'Gerald Battrick',
 1907: 'Jean Claude Barclay',
 3940: 'Szabolcz Baranyi',
 1145: 'Ernesto Aguirre',
 3057: 'Nicola Pietrangeli',
 2610: 'Manuel Orantes',
 2046: 'John Alexander',
 133: 'Alex Kurucz',
 2764: 'Marty Riessen',
 2784: 'Mathias Werren',
 1855: 'Jan Kukal',
 1588: 'Harald Elschenbroich',
 1338: 'Frew Mcmillan',
 435: 'Bernd Kube',
 962: 'Dick Crealy',
 2278: 'Jurgen Fassbender',
 1736: 'Ingo Buding',
 3553: 'Robert Maud',
 4273: 'Wilhelm Bungert',
 1577: 'Hans Joachim Ploetz',
 4128: 'Tony Roche',
 3453: 'Ray Ruffels',
 48: 'Adriano Panatta',
 3347: 'Phil Dent',
 494: 'Bob Hewitt',
 73: 'Alan Fox',
 561: 'Brian Fairlie',
 1467: 'Giuseppe Merlo',
 1904: 'Jean Baptiste Chanfreau',
 447: 'Bill Bowrey',
 1161: 'Eugenio Castigliano',
 3581: 'Roberto Saya',
 1363: 'Gaetano Di Maso',
 2230: 'Juan Gisbert',
 1173: 'Ezio Di Matteo',
 2773: 'Massimo Di Domenico',
 1459: 'Giordano Majoli',
 3041: 'Nicholas Kalogeropoulos',
 3370: 'Piero Toci',
 1728: 'Ilie Nastase',
 1435: 'Geza Varga',
 2858: 'Michael Hickey',
 392: 'Barry Phillips Moore',
 4221: 'Vittorio Crotta',
 491: 'Bob Giltinan',
 3455: 'Raymond Moore',
 1742: 'Ion Tiriac',
 2746: 'Martin Mulligan',
 4087: 'Tom Mozur',
 455: 'Bill Harris',
 1818: 'Jaime Fillol',
 4077: 'Tom Gorman',
 197: 'Allan Stone',
 2438: 'Larry Nagler',
 3645: 'Ron Holmberg',
 961: 'Dick Bohrnstedt',
 3911: 'Steve Tidball',
 1413: 'George Taylor',
 3189: 'Pancho Segura',
 1979: 'Jim Osborne',
 109: 'Alejandro Olmedo',
 1977: 'Jim Mcmanus',
 497: 'Bob Lutz',
 4085: 'Tom Leonard',
 1022: 'Donald Dell',
 1052: 'Earl Butch Buchholz',
 779: 'Colin Stubs',
 745: 'Clark Graebner',
 1823: 'Jairo Velasco',
 1081: 'Eduardo Soriano',
 2915: 'Miguel Oquendo',
 316: 'Antonio Munoz',
 1816: 'Jaidip Mukerjea',
 152: 'Alexander Marcial',
 1297: 'Francois Jauffret',
 1116: 'Enrique Guerrero',
 2178: 'Jose Guerrero',
 1056: 'Eddie Cruz',
 2548: 'Luis Bruguera',
 3977: 'Terry Addison',
 2184: 'Jose Luis Arillla',
 69: 'Al Pena',
 3428: 'Ramanathan Krishnan',
 1224: 'Fernando Gentil',
 3220: 'Patrick Proisy',
 4075: 'Tom Christensen',
 3982: 'Terry Ryan',
 1423: 'Gerard Pilet',
 3791: 'Sever Dron',
 3343: 'Petr Strobl',
 3058: 'Nicola Spear',
 991: 'Dimitri Sturdza',
 1083: 'Eduardo Zuleta',
 746: 'Claude De Gronckel',
 2893: 'Michal Lewandowski',
 22: 'Abe Segal',
 4369: 'Zeljko Franulovic',
 354: 'Ashley Cooper',
 2448: 'Lars Olander',
 3857: 'Stan Smith',
 1753: 'Ismail El Shafei',
 3167: 'Ove Bengtson',
 2879: 'Michael Sangster',
 4224: 'Vladimir Korotkov',
 1495: 'Graham Stilwell',
 1394: 'Geoff Bluett',
 3187: 'Pancho Guzman',
 751: 'Clay Iles',
 3145: 'Onny Parun',
 4190: 'Vic Seixas',
 739: 'Chuck Mckinley',
 499: 'Bob Mckinley',
 862: 'Danny Obryant',
 3238: 'Paul Gerken',
 1391: 'Gene Scott',
 963: 'Dick Dell',
 2024: 'Joaquin Loyo Mayo',
 2110: 'John Sharpe',
 3512: 'Richard Russell',
 2634: 'Marcello Lara',
 968: 'Dick Stockton',
 4124: 'Tony Palafox',
 1928: 'Jeff Borowiak',
 2054: 'John Brown',
 3295: 'Peter Curtis',
 3499: 'Richard Coulthard',
 3653: 'Ross Case',
 4246: 'Warren Jacques',
 2822: 'Max Pettman',
 2927: 'Mike Belkin',
 4275: 'Will Coghlan',
 1399: 'Geoff Pollard',
 2271: 'Jun Kamiwazumi',
 456: 'Bill Lloyd',
 3027: 'Neale Fraser',
 2846: 'Merv Guse',
 912: 'David Smith',
 3933: 'Sutarjo Sugiarto',
 2072: 'John Fraser',
 1706: 'Ian Fletcher',
 4134: 'Toshiro Sakai',
 3451: 'Ray Keldie',
 388: 'Barry Geraghty',
 3592: 'Rod Brent',
 3206: 'Patrice Dominguez',
 503: 'Bob Sherman',
 1570: 'Hank Irvine',
 1751: 'Isao Watanabe',
 2517: 'Lothar Pawlik',
 365: 'Attila Korpas',
 1694: 'Humphrey Hose',
 2152: 'Jorge Andrew',
 4056: 'Tito Vazquez',
 2389: 'Kiril Yashmakov',
 3919: 'Stojan Velev',
 2505: 'Ljuben Genov',
 3418: 'Rafael Osuna',
 2914: 'Miguel Olvera',
 3142: 'Omar Pabst',
 3269: 'Pekka Petersen Dyggve',
 3960: 'Tarmo Jokinen',
 187: 'Alfredo Vaz Pinto',
 3391: 'Premjit Lall',
 1211: 'Felicisimo Ampon',
 3816: 'Shyam Minotra',
 3676: 'Rupert Ferdinands',
 3769: 'Senaka Kumara',
 1695: 'Hussain Akbari',
 3942: 'Taghi Akbari',
 1091: 'Eleazar Davidman',
 3218: 'Patrick Landau',
 1711: 'Ichizo Konishi',
 1339: 'Frithjof Prydz',
 1299: 'Frank Baden',
 3094: 'Nils Elvik',
 3925: 'Sultan Aman Azman',
 431: 'Bernard Pinto',
 1310: 'Frank Saloman',
 1580: 'Hans Nerell',
 1986: 'Jimmy Moore',
 1313: 'Frank Sedgman',
 1802: 'Jackie Saul',
 2839: 'Mel Baleson',
 763: 'Clive Brebnor',
 1806: 'Jacobus Coetzer',
 1871: 'Jannie De Villiers',
 3818: 'Sidney Gordon',
 2359: 'Kerneels Kasch',
 2259: 'Julian Krinsky',
 1308: 'Frank McDonald',
 281: 'Andrew Pattison',
 3395: 'Quentin Pretorius',
 3981: 'Terry Rosenberg',
 1412: 'George Rudman',
 948: 'Derek Schroder',
 1298: 'Francois Van Der Merwe',
 3448: 'Rauty Krog',
 3318: 'Peter Mors',
 184: 'Alfred Schwartz',
 3281: 'Pete Spiller',
 3620: 'Rohan Summers',
 235: 'Andre Van Der Merwe B',
 3473: 'Remzi Aydin',
 1648: 'Henry Ladyman',
 1385: 'Gaylard Dunn',
 4120: 'Tony Hammond',
 3354: 'Philip Holton',
 650: 'Cedric Mason',
 1789: 'J Pugh',
 4256: 'Wayne Reid',
 3399: 'R Campbell',
 1786: 'J Glassen',
 1478: 'Gondo Widjojo',
 1702: 'Ian Beverly',
 3505: 'Richard Hawkes',
 2370: 'Kevin Ocarroll',
 955: 'Desmond Shaw',
 874: 'Dave Simmonds',
 2938: 'Mike Estep',
 3658: 'Roy Barth',
 1377: 'Gary Rose',
 2474: 'Lenny Schloss',
 1366: 'Gardnar Mulloy',
 3785: 'Sergio Palmieri',
 1384: 'Gavorielle Marcu',
 2000: 'Jiri Medonos',
 2604: 'Manlio Bartoni',
 1199: 'Federico Castelnuovo',
 2058: 'John Clifton',
 1270: 'Francesco Dalessio',
 2062: 'John De Mendoza',
 2653: 'Marco Gilardelli',
 3383: 'Pietro Marzano',
 2102: 'John Paish',
 317: 'Antonio Rasicci',
 1743: 'Ionel Santeiu',
 2482: 'Leonardo Scrocchia',
 4177: 'Valerio Vettesi',
 4228: 'Vladimir Zednik',
 1460: 'Giorgio Bologna',
 486: 'Bob Brien',
 1603: 'Harry Fauquier',
 4364: 'Zan Guerry',
 1987: 'Jimmy Parker',
 1567: 'Hamilton Richardson',
 1344: 'Fritz Schunck',
 3335: 'Peter Van Lingen',
 4191: 'Vicente Zarazua',
 2240: 'Juan Manuel Couder',
 1844: 'Jan Erik Lundquist',
 2322: 'Keith Brebnor',
 2323: 'Keith Carpenter',
 4171: 'Uwe Gottschalk',
 3303: 'Peter Gray',
 517: 'Bokkie Niemand',
 2354: 'Kenny Smith',
 200: 'Allen Morris',
 872: 'Dave Shibley',
 1014: 'Don Bitler',
 3202: 'Pat Cramer',
 3935: 'Sven Ginman',
 272: 'Andres Hammersley',
 96: 'Alcides Procopio Jr',
 504: 'Bob Sprengelmeyer',
 3249: 'Paul Thompson',
 3293: 'Peter Cawthorn',
 3479: 'Reynaldo Garrido',
 2076: 'John Hammill',
 796: 'Crawford Henry',
 1602: 'Harry Coe',
 3248: 'Paul Sullivan',
 50: 'Agostino Serra',
 3643: 'Ron Goldman',
 2504: 'Lito Alvarez',
 4034: 'Tico Carrero',
 965: 'Dick Leach',
 3861: 'Stanley Pasarell',
 1433: 'Gerry Perry',
 1597: 'Haroon Rahim',
 600: 'Butch Seewagen',
 742: 'Chum Steele Iii',
 1923: 'Jean Pierre Loizeau',
 3214: 'Patrick Beraud',
 1622: 'Heinz Frank',
 2420: 'Kurt Ring',
 1821: 'Jaime Subirats',
 1074: 'Eduardo Gorostiaga',
 1848: 'Jan Hajer',
 3323: 'Peter Pokorny',
 2581: 'M Boerma',
 937: 'Dennis Breetzke',
 3044: 'Nick Fleury',
 3819: 'Siebe Huizinga',
 1634: 'Henk Nijeboer',
 776: 'Colin Rees',
 1166: 'Evert Schneider',
 3458: 'Rayno Seegers',
 3382: 'Pieter Soeters',
 969: 'Dick Stradmeijer',
 3379: 'Piet Van Eysden',
 3647: 'Ron Van Gelder',
 3251: 'Paul Van Min',
 1143: 'Erik Van Dillen',
 818: 'Dan Bleckinger',
 303: 'Anthony Bull',
 492: 'Bob Goeltz',
 964: 'Dick Knight',
 302: 'Anthony Billington',
 449: 'Bill Colson',
 451: 'Bill Cullen',
 3300: 'Peter Fishbach',
 3368: 'Pierce Kelly',
 2272: 'Jun Kuki',
 1175: 'F D Robbins',
 1800: 'Jack Waltz',
 502: 'Bob Puddicombe',
 4116: 'Tony Bardsley',
 3517: 'Rick Fisher',
 3674: 'Rudy Hernando',
 1769: 'Ivan Mikysa',
 4189: 'Vic Rollins',
 1884: 'Jasjit Singh',
 1314: 'Frank Tutvin',
 2027: 'Joe Becknell',
 2339: 'Ken Binns',
 3289: 'Peter Burwash',
 2933: 'Mike Carpenter',
 3642: 'Ron Cornell',
 230: 'Andre Cote',
 1395: 'Geoff Dyer',
 3584: 'Robin Elliott',
 1023: 'Donald Fontana',
 1504: 'Greg Harris',
 1307: 'Frank Korpas',
 1017: 'Don Mccormick',
 2030: 'Joe Osadca',
 2485: 'Lester Sack',
 234: 'Andre Thielemans',
 3338: 'Peter Yates',
 4082: 'Tom Kiss',
 4270: 'Whitney Reed',
 759: 'Cliff Mayne',
 2124: 'John Yeomans',
 737: 'Chuck Alloo',
 448: 'Bill Carroll',
 3898: 'Steve Cornell',
 2693: 'Mark Elliott',
 678: 'Chip Fisher',
 3585: 'Robin Fry',
 1371: 'Gary Hippenstiel',
 2946: 'Mike Machette',
 1534: 'Guillermo Oropez',
 2031: 'Joe Rush',
 2113: 'John Spiegel',
 462: 'Bill Strei',
 667: 'Charles White',
 686: 'Chris Chapin',
 2937: 'Mike Durkin',
 1015: 'Don Gale',
 2075: 'John Haak',
 869: 'Dave Harmon',
 2307: 'Karl Hedrick',
 3548: 'Robert Hill',
 1016: 'Don Jacobus',
 4277: 'Will James',
 4334: 'Yit Louie',
 1119: 'Enver Mehmedbasich',
 2342: 'Ken Mordoff',
 4088: 'Tom Muench',
 2101: 'John Norgauer',
 1798: 'Jack Oates',
 4066: 'Todd Overgard',
 2439: 'Larry Parker',
 1218: 'Felix Ponte',
 3557: 'Robert Potthast',
 1510: 'Greg Shephard',
 1019: 'Don Shirk',
 1414: 'George Tittmann',
 4049: 'Tim Vann',
 1982: 'Jim White',
 1610: 'Harwood White',
 1021: 'Don Wilson',
 2126: 'John Zweig',
 2461: 'Lawrence Hall',
 3496: 'Rich Anderson',
 4073: 'Tom Brown',
 3607: 'Roger Cooper',
 2935: 'Mike Crane',
 1447: 'Gil Howard',
 3590: 'Robyn Ray',
 1794: 'Jack Adolphson',
 1013: 'Don Beer',
 452: 'Bill Demas',
 1677: 'Howard Jameson',
 2516: 'Lornie Kuhle',
 2084: 'John Leles',
 500: 'Bob Murio',
 924: 'Dean Schlobohm',
 3235: 'Paul Cranis',
 1053: 'Ed Grubb',
 4280: 'William Brown',
 3903: 'Steve Faulk',
 3912: 'Steve Turner',
 3803: 'Sherwood Stewart',
 506: 'Bob Stuckert',
 2083: 'John James',
 3936: 'Syd Ball',
 211: 'Alvin Gardiner',
 1397: 'Geoff Masters',
 1390: 'Gene Russo',
 573: 'Brian White',
 2621: 'Marc Bolle',
 1498: 'Grant Kerr',
 752: 'Clem Robertson',
 2497: 'Lindsay Straney',
 223: 'Anatoli Volkov',
 1325: 'Freddy Field',
 774: 'Colin Mchugo',
 2109: 'John Satchwell Smith',
 2989: 'Mohammed Arif Elahi',
 3007: 'Munawar Iqbal',
 1781: 'Ivor Warwick',
 2308: 'Karl Meiler',
 1881: 'Jaroslav Drobny',
 1303: 'Frank Falderbaum',
 2091: 'John McDonald',
 1630: 'Helmuth Rudzinski',
 683: 'Chris Bovett',
 390: 'Barry Mackay',
 2060: 'John Crump',
 556: 'Brian Cheney',
 4240: 'Walter Johnson',
 2947: 'Mike Marcin',
 3894: 'Steve Avoyer',
 446: 'Bill Bond',
 1290: 'Franco Bartoni',
 3290: 'Peter Campbell',
 1398: 'Geoff Olsson',
 1274: 'Francisco Castillo',
 1373: 'Gary Kesl',
 463: 'Bill Tym',
 957: 'Detler Herdy',
 2668: 'Marian Laudin',
 1098: 'Elwyn Mccabe',
 591: 'Bryan Burrell',
 437: 'Bertalan Csoknyai',
 1625: 'Heinz Hamza',
 4080: 'Tom Karp',
 1579: 'Hans Kary',
 1342: 'Fritz Kolbinger',
 1221: 'Ference Komaromi',
 555: 'Brian Bowman',
 1376: 'Gary Penberthy',
 2824: 'Max Senior',
 4117: 'Tony Dawson',
 3646: 'Ron Hunt',
 1593: 'Harold Hunt',
 899: 'David Morrison',
 3174: 'P Neck',
 198: 'Allan Wall',
 130: 'Alex Geuer',
 769: 'Colin Dibley',
 2074: 'John Gardner',
 740: 'Chuck Saacke',
 3398: 'R Burn',
 2433: 'Lance Lumsden',
 2077: 'John Harrison',
 74: 'Alan Jackson',
 3860: 'Stanley Matthews',
 3015: 'N McDonough',
 2332: 'Keith Stephens',
 1066: 'Edison Mandarino',
 3573: 'Roberto Chavez',
 268: 'Andres Donnadieu',
 185: 'Alfredo Alvarez',
 2538: 'Lucio Baltazar',
 2546: 'Luis Baraldi',
 1200: 'Federico Cervantes',
 186: 'Alfredo Millet',
 183: 'Alfonso Ochoa',
 4231: 'Vyacheslav Egorov',
 3447: 'Rauno Suominen',
 3955: 'Tapio Jokinen',
 982: 'Dieter Schultheiss',
 525: 'Boris Breskvar',
 1222: 'Fernando Casado',
 3941: 'Tadeusz Nowicki',
 2496: 'Lindsay Murphy',
 1045: 'Dumitru Viziru',
 3630: 'Rolf Harms',
 2928: 'Mike Bolton',
 1925: 'Jean Scuvie',
 4166: 'Ulrich Schamberger',
 3422: 'Rainer Kuhlmey',
 1117: 'Enrique Molina',
 576: 'Bronislaw Lewandowski',
 1296: 'Francois Battegay',
 4237: 'Waldemar Timm',
 3474: 'Rene Bertrand',
 1343: 'Fritz Kuhlmann Jr',
 1: ' Herraiz',
 2583: 'M Camara',
 1788: 'J L Sartorius',
 2226: 'Juan Cruz Gangutia',
 2170: 'Jose Castanon',
 315: 'Antonio Martinez',
 632: 'Carlos Fernandes',
 1673: 'Horst Ritter',
 1900: 'Jay Paulson',
 4226: 'Vladimir Petrovic',
 1976: 'Jim Hobson',
 3641: 'Ron Bohrnstedt',
 1372: 'Gary Johnson',
 501: 'Bob Potthast',
 2176: 'Jose Fuster',
 1106: 'Emilio Martinez',
 318: 'Antonio Solana',
 3835: 'Sixto Cambra',
 2236: 'Juan Ignacio Muntanola',
 3434: 'Ramon Barril',
 2189: 'Jose Maria Gisbert',
 2157: 'Jorge Gisbert',
 3270: 'Pekka Saila',
 1301: 'Frank Conner',
 738: 'Chuck Darley',
 2487: 'Lew Smolin',
 490: 'Bob Dow',
 0: ' Cross',
 4245: 'Warren Farmer',
 2105: 'John Pickens',
 3111: 'Norman Holmes',
 2434: 'Larry Eichenbaum',
 777: 'Colin Robertson',
 2304: 'Karl Coombes',
 1020: 'Don Thompson',
 459: 'Bill Monan',
 3895: 'Steve Beeland',
 2328: 'Keith Nielsen',
 2106: 'John Powers',
 1981: 'Jim Ward',
 923: 'Dean Penero',
 4180: 'Van Hill',
 1505: 'Greg Hilley',
 2430: 'Lamar Roemer',
 461: 'Bill Shippey',
 2952: 'Mike Sprenglemeyer',
 2436: 'Larry Hall',
 1850: 'Jan Hordijk',
 3986: 'Thedy Stalder',
 3306: 'Peter Holenstein',
 2632: 'Marcel Kunzler',
 3282: 'Peter Anton Biner',
 3445: 'Raul Peralta',
 785: 'Constantin Nastase',
 786: 'Constantin Popovici',
 1540: 'Gunther Bosch',
 4216: 'Viorel Marcu',
 4091: 'Toma Ovici',
 3792: 'Sever Muresan',
 3266: 'Pedro Sotomayor',
 1350: 'Gabriel Alberti',
 1051: 'E Morales',
 2734: 'Martin Carlstein',
 351: 'Arthur Schroder',
 1521: 'Guenther Winn',
 3329: 'Peter Scholl',
 3469: 'Reinhard Pieper',
 67: 'Al Chassard',
 496: 'Bob Kaufman',
 2350: 'Kenneth Reid',
 3307: 'Peter Jackson',
 1970: 'Jim Buckley',
 764: 'Clive Wilderspin',
 3327: 'Peter Rigg',
 305: 'Anthony Hammond',
 563: 'Brian Ford',
 4038: 'Tim Clayton',
 1784: 'J Bougher',
 4140: 'Trevor Baker',
 3533: 'Rob Kilderry',
 2125: 'John Yuill',
 1174: 'Ezzat Nemati',
 379: 'B Johnston',
 1646: 'Henry Hank Irvine',
 453: 'Bill Freer',
 3296: 'Peter Doerner',
 355: 'Ashley Hewitt',
 2059: 'John Cooper',
 2962: 'Milan Tajenar',
 710: 'Christian Kuhnke',
 3551: 'Robert Lutz',
 4243: "Wanaro N'Godrella",
 291: 'Andrzej Licis',
 3879: 'Stepan Koudelka',
 430: 'Bernard Paul',
 2442: 'Larry Turville',
 1315: 'Franklin Robbins',
 3554: 'Robert Mckinley',
 4283: 'William Higgins',
 4282: 'William Harris',
 2542: 'Luis Alberto Ayala',
 4155: 'U Unknown',
 1321: 'Fred Mcnair',
 3263: 'Pedro Langre',
 1347: 'G Turner Howard',
 2130: 'Jon Hainline',
 333: 'Armando Cornejo',
 4287: 'William Tym',
 2554: 'Luis Felipe Tavares',
 2199: 'Josef Stabholz',
 2191: 'Jose Moreno',
 380: 'B Moreau',
 1152: 'Ernie Mccabe',
 81: 'Albert Gaertner',
 2324: 'Keith Diepraam',
 1563: 'Hakar Zahr',
 3168: 'Ove Nils Bengtson',
 1318: 'Frantisek Pala',
 3276: 'Per Jemsby',
 3893: 'Stephen Warboys',
 4279: 'William Alvarez',
 4297: 'Woody Blocher',
 1153: 'Ernst Blanke',
 914: 'David Tate',
 212: 'Aly El Dawoudi',
 2979: 'Moataz El Sonbol',
 1406: 'George Berner',
 2904: 'Miecyslav Rybarczyk',
 3457: 'Raymundo Deyro',
 3809: 'Shiv Prakash Misra',
 1382: 'Gaurav Misra',
 222: 'Anand Amritraj',
 2321: 'Keishiro Yanagi',
 1668: 'Hoang Duc Luu',
 4182: 'Van Thanh Vo',
 1030: 'Doo Hwan Kim',
 4336: 'Yong Ho Chung',
 403: 'Ben Bishop',
 3577: 'Roberto Marcher',
 1158: 'Esteban Fillol',
 870: 'Dave Hill',
 10: 'A Rodney Mandelstam',
 1650: 'Herbert Rapp',
 1953: 'Jerry Stewart',
 409: 'Ben Varn',
 2305: 'Karl Fichtel',
 1122: 'Epaminondas Argyriou',
 4274: 'Wilhelm Burgemeister',
 3278: 'Periclis Gavrilidis',
 2419: 'Kurt Hubalek',
 2026: 'Jock Eitel Reetz',
 2848: 'Mervyn Webster',
 2587: 'Mac Clafin',
 4376: 'Zlatko Ivancic',
 1025: 'Donald Lutz',
 341: 'Arseny Markoff',
 3714: 'Samudra Sangitan',
 530: 'Borut Skulj',
 919: 'Davor Stolcer',
 1129: 'Eric Derasse',
 847: 'Daniel Moreau',
 705: 'Christian Bimes',
 1416: 'Georges Deniau',
 1920: 'Jean Paul Meyer',
 512: 'Bodo Nitsche',
 2881: 'Michael Sprenglemeyer',
 4126: 'Tony Pospisil',
 877: 'David Brown',
 562: 'Brian Flood',
 2095: 'John Mcmanus',
 1160: 'Eugene Cantin',
 3596: 'Rodney Kop',
 488: 'Bob Bushman Jr',
 482: 'Bob Alloo',
 3996: 'Thierry Bernasconi',
 383: 'Bailey Brown',
 3283: 'Peter Avery',
 1581: 'Hans Nordstrom',
 2331: 'Keith Spurgeon',
 1125: 'Erhard Jung',
 1403: 'Geoffrey Olsson',
 605: 'C Bothwell',
 2056: 'John Byrne',
 3593: 'Rod Frawley',
 34: 'Adi Kourim',
 4084: 'Tom Kreiss',
 3550: 'Robert Kreiss',
 196: 'Allan McDonald',
 1492: 'Graeme Scott',
 361: 'Atet Wijono',
 4141: 'Trevor Fancutt',
 4233: 'W Field',
 2275: 'Junjo Kawamuri',
 1937: 'Jeff Twist',
 1605: 'Harry Sheridan',
 954: 'Desmond Early',
 3723: 'Sandy Mayer',
 1985: 'Jimmy Connors',
 2123: 'John Williams',
 3404: 'R Walker',
 3175: 'P Scott',
 3173: 'P Mortoire',
 939: 'Dennis Matthews',
 3690: 'S Joseph',
 3400: 'R Jenkin',
 7: 'A J Gould',
 3403: 'R W Davies',
 606: 'C J Bendall',
 5: 'A G Barker',
 602: 'Byron Bertram',
 1304: 'Frank Froehling',
 2853: 'Michael Burgener',
 2384: 'Kim Warwick',
 1311: 'Frank Schmitz',
 3734: 'Sashi Menon',
 1319: 'Fred Hemmes',
 4203: 'Vijay Amritraj',
 608: 'C Wijono',
 2489: 'Lewis Sylvester',
 2344: 'Ken Stuart',
 3562: 'Robert Stock',
 909: 'David Segal',
 1508: 'Greg Perkins',
 3506: 'Richard Howes',
 1998: 'Jiri Hrebec',
 3907: 'Steve Krulevitz',
 2942: 'Mike Kreiss',
 3446: 'Raul Ramirez',
 480: 'Bo Holmstrom',
 2586: 'Ma Ilahi',
 3030: 'Ned Neely',
 3209: 'Patrice Wiman',
 2425: 'L B Taylor',
 1401: 'Geoff Stubbs',
 1834: 'James Pressly',
 206: 'Alvaro Betancur',
 615: 'Carl Edvard Hedelund',
 1750: 'Isao Kobayashi',
 4181: 'Van Thanh Nguyen',
 4179: 'Van Bay Vo',
 1287: 'Francisco Truchi',
 1968: 'Jim Bochte',
 2490: 'Lex Hester',
 3286: 'Peter Becroft',
 3511: 'Richard Rae',
 1934: 'Jeff Simpson',
 665: 'Charles Caudle',
 1703: 'Ian Bidmeade',
 758: 'Cliff Letcher',
 1400: 'Geoff Sara',
 1493: 'Graeme Thomson',
 4281: 'William Durham',
 2577: 'Lynton Franzi',
 75: 'Alan Lane',
 2945: 'Mike Lorenzo',
 2089: 'John Marks',
 2847: 'Mervyn Rose',
 2537: 'Lucien Sulloway',
 2477: 'Leo Rolle',
 780: 'Compton Russell',
 2: 'A Boss',
 880: 'David Carter',
 1370: 'Gary Hale',
 3171: 'P Arndt',

In [86]:
# rank diff --> negative = loser rank points > winner rank points --> positive = winner rank points > loser rank points
df = df.drop(['winner_rank','loser_rank'],axis='columns')
df['rank_points_diff'] = df['winner_rank_points'] - df['loser_rank_points']
df

,Unnamed: 0.1,Unnamed: 0,draw_size,winner_seed,winner_entry,winner_ht,winner_age,loser_seed,loser_entry,loser_ht,...,surface_n,tourney_level_n,winner_hand_n,winner_ioc_n,loser_hand_n,loser_ioc_n,round_n,winner_name_n,loser_name_n,rank_points_diff
0,0,0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,3,5,3,61,6,1034,5565,NaN
1,1,1,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,2,98,3,61,6,2520,4733,NaN
2,2,2,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,3,54,3,61,6,649,3587,NaN
3,3,3,32.0,NaN,NaN,178.0,24.3,NaN,NaN,NaN,...,2,0,2,81,3,145,6,4090,7071,NaN
4,4,4,32.0,NaN,NaN,NaN,21.3,NaN,NaN,NaN,...,2,0,2,124,3,61,6,335,2742,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194991,194991,194991,4.0,NaN,NaN,NaN,18.8,NaN,NaN,188.0,...,1,1,3,123,2,82,8,2023,2963,-26.0
194992,194992,194992,4.0,NaN,NaN,175.0,26.9,NaN,NaN,NaN,...,3,1,2,127,2,109,8,3021,5634,35.0
194993,194993,194993,4.0,NaN,NaN,185.0,27.3,NaN,NaN,183.0,...,3,1,2,98,2,141,8,2410,4242,NaN
194994,194994,194994,4.0,NaN,NaN,175.0,26.9,NaN,NaN,185.0,...,3,1,2,127,2,109,8,3021,4085,-42.0
194995,194995,194995,4.0,NaN,NaN,NaN,23.2,NaN,NaN,183.0,...,3,1,2,98,2,141,8,3353,4242,NaN

In [87]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import warnings

warnings.filterwarnings('ignore')

In [88]:
df

,Unnamed: 0.1,Unnamed: 0,draw_size,winner_seed,winner_entry,winner_ht,winner_age,loser_seed,loser_entry,loser_ht,...,surface_n,tourney_level_n,winner_hand_n,winner_ioc_n,loser_hand_n,loser_ioc_n,round_n,winner_name_n,loser_name_n,rank_points_diff
0,0,0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,3,5,3,61,6,1034,5565,NaN
1,1,1,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,2,98,3,61,6,2520,4733,NaN
2,2,2,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,3,54,3,61,6,649,3587,NaN
3,3,3,32.0,NaN,NaN,178.0,24.3,NaN,NaN,NaN,...,2,0,2,81,3,145,6,4090,7071,NaN
4,4,4,32.0,NaN,NaN,NaN,21.3,NaN,NaN,NaN,...,2,0,2,124,3,61,6,335,2742,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194991,194991,194991,4.0,NaN,NaN,NaN,18.8,NaN,NaN,188.0,...,1,1,3,123,2,82,8,2023,2963,-26.0
194992,194992,194992,4.0,NaN,NaN,175.0,26.9,NaN,NaN,NaN,...,3,1,2,127,2,109,8,3021,5634,35.0
194993,194993,194993,4.0,NaN,NaN,185.0,27.3,NaN,NaN,183.0,...,3,1,2,98,2,141,8,2410,4242,NaN
194994,194994,194994,4.0,NaN,NaN,175.0,26.9,NaN,NaN,185.0,...,3,1,2,127,2,109,8,3021,4085,-42.0
194995,194995,194995,4.0,NaN,NaN,NaN,23.2,NaN,NaN,183.0,...,3,1,2,98,2,141,8,3353,4242,NaN